<header class="Navigation">
    <div id="navbar" class="nav-sticky">
        <a class="logo" href="/">
            <img src="images/website-logo.png" alt="">
        </a>
        <nav class="middlenav">
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/partners">Partners</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            
        </nav>
    </div>
</header>